/* about */
*{  
    font-family: 'Times New Roman', Times, serif;
}

img.headshot {
    width: 150px; /* Your chosen height */
    height: auto; /* Must be auto */
    float: left;
    margin: 1px;
  }
body {
    background: url('https://github.com/erasersleeve/Responsive-Portfolio/blob/master/assets/images/aust.jpg?raw=true') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  
}
.navbar {
    background-color: white !important;
    padding: 1% !important;
}


.navbar-brand {
    color: white !important;
    background-color: #59AAA5;
    padding: 1%;
    text-align: center;
       
}


section {
    background-color: white;
}

p {
    background-color: white;
}

li { 
    background-color: white;
}

h1 {
    color: #59AAA5;;
}

h2 {
    color: #59AAA5;
    font-size: 1.5rem;
}

.link {
    color: black;
}

.headshot {  
    width: 150px; /* Your chosen height */
    height: auto; /* Must be auto */
    float: left;
    margin: 1px;
}

.headshot img {
    width: 100%; /* Must be 100% */
    height: auto; /* Must be auto */
    margin: 1px;
    }

/* portfolio */

/* Container needed to position the button. Adjust the width as needed */

  
  /* Style the button and place it in the middle of the container/image */
  .deployed {
    position: absolute;
    width:45%;
    top: 90%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #59AAA5;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .repo {
    position: absolute;
    width:45%;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #59AAA5;    
    
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  
  .btn .btn:hover {
    background-color: black;
  }

/* contact */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    padding: 20px;
  }

    